In [12]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import googleapiclient.discovery
import googleapiclient.errors
import os
import transformers
import pandas as pd
import string
import re


api_service_name = "youtube"
api_version = "v3"
api_key = 'AIzaSyDcVHesD9iwrji-B7HLloocp3DBCE62lQU'
#DEVELOPER_KEY = os.getenv("ytb_api")
#DEVELOPER_KEY = os.getenv('api_key')


#api_key = 'AIzaSyDcVHesD9iwrji-B7HLloocp3DBCE62lQU'
#youtube = build('youtube', 'v3', developerKey=api_key)


#youtube = googleapiclient.discovery.build(api_service_name, api_version, developerKey=DEVELOPER_KEY)
youtube = googleapiclient.discovery.build(api_service_name, api_version, developerKey=api_key)

request = youtube.commentThreads().list(
    part="snippet",
    videoId="SIm2W9TtzR0",
    maxResults=10
)
response = request.execute()

None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [3]:
type(response)

dict

In [4]:
response.keys()

dict_keys(['kind', 'etag', 'nextPageToken', 'pageInfo', 'items'])

In [5]:
(response["items"])[0]

{'kind': 'youtube#commentThread',
 'etag': 'PJTNIp1hZigejJVwpnkRz8Rhups',
 'id': 'UgxKMpi4Lh2-UR2XH5t4AaABAg',
 'snippet': {'channelId': 'UCaizTs-t-jXjj8H0-S3ATYA',
  'videoId': 'SIm2W9TtzR0',
  'topLevelComment': {'kind': 'youtube#comment',
   'etag': 'MzLNug2Afu_RLLHLl8Hv7okOGfQ',
   'id': 'UgxKMpi4Lh2-UR2XH5t4AaABAg',
   'snippet': {'channelId': 'UCaizTs-t-jXjj8H0-S3ATYA',
    'videoId': 'SIm2W9TtzR0',
    'textDisplay': 'Updated Video <a href="https://www.youtube.com/watch?v=A1III_DQU4I">https://youtu.be/A1III_DQU4I?si=_8-d4OpoIHpr2jJm</a>',
    'textOriginal': 'Updated Video https://youtu.be/A1III_DQU4I?si=_8-d4OpoIHpr2jJm',
    'authorDisplayName': '@analyticswithadam',
    'authorProfileImageUrl': 'https://yt3.ggpht.com/2PBxLW_kGCY1hfybNHu216RHGBDBNZW4m7aS9kU2Lj_6waMwDMmDrGGEg6zJsYuAq63nDtNd=s48-c-k-c0x00ffffff-no-rj',
    'authorChannelUrl': 'http://www.youtube.com/@analyticswithadam',
    'authorChannelId': {'value': 'UCaizTs-t-jXjj8H0-S3ATYA'},
    'canRate': True,
    'viewerRating': 'none',
    'likeCount': 5,
    'publishedAt': '2024-02-06T21:00:47Z',
    'updatedAt': '2024-02-06T21:00:47Z'}},
  'canReply': True,
  'totalReplyCount': 0,
  'isPublic': True}}

In [6]:
for item in response['items']:
    print(item['snippet']['topLevelComment']['snippet']['textDisplay'])

Updated Video <a href="https://www.youtube.com/watch?v=A1III_DQU4I">https://youtu.be/A1III_DQU4I?si=_8-d4OpoIHpr2jJm</a>
Is the maximum for this 100 comments? Tried raising the limit in the code, but I&#39;m only getting that number.
Pleease x i want to extract coments and tags of many videos and do it in csv file how can i do it ?
Bro, you are my god！！！
hello
Super helpful this rocks!!
I get an error &quot;WARNING:googleapiclient.http:Encountered 403 Forbidden with reason &quot;quotaExceeded&quot; and some more details.
Is there any limit for fetching comments?
¡Gran video! Gracias por compartir.
thanks a lot!!!!!!!

In [7]:
request = youtube.commentThreads().list(
    part="snippet",
    videoId="WNrB1Q9Rry0",
    maxResults=100
)
response = request.execute()

comments = []

for item in response['items']:
    comment = item['snippet']['topLevelComment']['snippet']
    comments.append([
        comment['authorDisplayName'],
        comment['publishedAt'],
        comment['updatedAt'],
        comment['likeCount'],
        comment['textDisplay']
    ])

df = pd.DataFrame(comments, columns=['author', 'published_at', 'updated_at', 'like_count', 'text'])

df.head(10)

,author,published_at,updated_at,like_count,text
0,@LeilaGharani,2024-01-25T17:16:47Z,2024-12-11T08:35:40Z,0,"<a href=""UCJtUOos_MwJa_Ewii-R3cJA/INVYZKnjF56F..."
1,@yuboma6632,2025-03-01T16:23:24Z,2025-03-01T16:23:24Z,0,Fantastic video! Can’t wait to the view the o...
2,@mostafakardel7903,2024-09-25T09:15:00Z,2024-09-25T09:15:00Z,0,Sure! Here&#39;s your message in English:\r<br...
3,@alex626ification,2024-08-06T16:41:14Z,2024-08-06T19:18:19Z,0,Has any one figured out how to use data types ...
4,@zahidahmed5384,2024-07-25T18:29:41Z,2024-07-25T18:29:41Z,0,"hi, nice video as always. However, this is not..."
5,@maricelascinas888,2024-06-02T03:23:29Z,2024-06-02T03:23:29Z,0,"wow this is exactly we need for our project , ..."
6,@Klarkooi,2024-04-14T12:05:55Z,2024-04-14T12:05:55Z,0,"Hey Leila, thanks for all the tips! I am wonde..."
7,@adarshjha4774,2024-02-13T16:06:47Z,2024-02-13T16:06:47Z,0,All these options in insert are not coming in ...
8,@truth5119,2023-12-29T07:35:07Z,2023-12-29T07:35:21Z,0,I materials had code if i want both displayed ...
9,@michaeljarcher,2023-11-24T12:17:39Z,2023-11-24T12:17:39Z,0,About time excel got with the picture. But fir...

## Data preprocessing and Exploratory Data Analysis (EDA)

In [8]:
# Getting basic information about the dataset
df.shape

(100, 5)

In [9]:
# dropping all columns except the 'text' columns thai is required
df = df[['text']]
df.head(10)

                                                text
0  <a href="UCJtUOos_MwJa_Ewii-R3cJA/INVYZKnjF56F...
1  Fantastic video!  Can’t wait to the view the o...
2  Sure! Here&#39;s your message in English:\r<br...
3  Has any one figured out how to use data types ...
4  hi, nice video as always. However, this is not...
5  wow this is exactly we need for our project , ...
6  Hey Leila, thanks for all the tips! I am wonde...
7  All these options in insert are not coming in ...
8  I materials had code if i want both displayed ...
9  About time excel got with the picture. But fir...

##### Letter Case and Punctuation dataset Cleaning

In [10]:
p = re.compile(r'[^\w\s]+')
df['text'] = [p.sub('', x) for x in df['text'].tolist()]
df["text"] = df["text"].str.replace("\W", " ")
df["text"] = df["text"].str.lower()

print(" Dataset after cleaning:")
df["text"].head(10)

 Dataset after cleaning:

C:\Users\kola_\AppData\Local\Temp\ipykernel_45684\3621731252.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"] = df["text"].str.replace("\W", " ")

0    a hrefucjtuoos_mwja_ewiir3cjainvyzknjf56f6dspo...
1    fantastic video  cant wait to the view the one...
2    sure here39s your message in english br brhell...
3    has any one figured out how to use data types ...
4    hi nice video as always however this is not wo...
5    wow this is exactly we need for our project  t...
6    hey leila thanks for all the tips i am wonderi...
7    all these options in insert are not coming in ...
8    i materials had code if i want both displayed ...
9    about time excel got with the picture but firs...
Name: text, dtype: object

In [11]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
df["tokenized_text"] = df["text"].apply(lambda x: tokenizer.tokenize(x))
df["tokenized_text"]

0     [a, hr, ##ef, ##uc, ##j, ##tu, ##oo, ##s, _, m...
1     [fantastic, video, can, ##t, wait, to, the, vi...
2     [sure, here, ##39, ##s, your, message, in, eng...
3     [has, any, one, figured, out, how, to, use, da...
4     [hi, nice, video, as, always, however, this, i...
                            ...
95    [that, ##39, ##s, amazing, lei, ##la, really, ...
96    [wow, this, is, so, cool, it, feels, like, big...
97    [ok, a, little, longer, and, we, ##39, ##ll, h...
98    [excellent, video, lei, ##la, br, ##bri, will,...
99    [very, nice, video, but, a, super, tip, at, th...
Name: tokenized_text, Length: 100, dtype: object